* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    /*background-color: #343a40;*/
    background-image: url(background/frequency-wave.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.container{
    flex-direction: column;
    height: 100%;
    padding: 10% 0%;
}

h1 {
    color: #dee2e6;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 50px;
}

.calculator {
    width: 70%;
    background-color: #6c757d;
    display: flex;
    justify-content: space-between;
}

.screen {
    width: 70%;
    background-color: #212529;
    min-height: 120px;
    font-size: 5rem;
    font-family: 'VT323', monospace;
    color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-container .btn, 
.input-container .btn {
    font-size: 0.8rem;
    padding: 10px;
    background-color: #009bea;
    border: none;
    color: #ffffff;
    border-radius: 0.25rem;
    flex: 1 1 45%; /* Esto asegura que los botones se distribuyan en 2 columnas */
    text-align: center;
}

.button-container .btn:hover, 
.input-container .btn:hover {
    background-color: #001d3d;
    color: #ffffff;
}

.form-label{
    color: #D3D3D3;
}

#measurement-form{
    padding: 20px;
}

.btn-secondary{
    margin: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.use-description-text{
    color: #dee2e6;
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}

.footer {
    background-color: transparent transparent;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    border-top: 2px solid #007bff;
}

.footer-container{
    padding: 20px;;
}


/* Diseño responsivo para móviles */
@media (max-width: 760px) {
    .calculator {
        flex-direction: column;
        align-items: center;
    }

    .screen {
        width: 90%;
    }

    .button-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 5% 5%;
        gap: 10px;
    }

    .button-container .btn {
        width: 40%;
        margin-bottom: 10px;
    }
    
    #input-container {
        width: 90%;
        margin-top: 10px;
    }
}

/* Diseño responsivo para tablets */
@media (min-width: 761px) and (max-width: 1024px) {
    .calculator {
        flex-direction: column;
        align-items: center;
    }

    .screen {
        width: 90%;
    }

    .button-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 5% 5%;
        gap: 10px;
    }

    .button-container .btn {
        width: 48%;
        margin-bottom: 10px;
    }
    
    #input-container {
        width: 90%;
        margin-top: 10px;
    }
}
